@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
:root {
    --primaryColour: #2f3c7e;
    --secondaryColour: #fbeaeb;
    --tertiaryColour: #A6979C;
    --textColour1: #fbeaeb;
    --darkColour: #30292F;
    --fontFamily: 'Nanum Gothic Coding', monospace;
}
body {
    overflow-x: hidden;
    margin: 0;
}

h1 {
    color: var(--textColour1);
    font-family: var(--fontFamily);
    font-size: 2em;
    font-weight: lighter;
}

p {
    color: var(--textColour1);
    font-family: var(--fontFamily);
}

#particles-js {
    background-color: var(--primaryColour);
    overflow-y: hidden;
    z-index: -1;
    position: fixed;
    height: 100%;
    width: 100%;
}

/* FONTAWESOME OVERRIDE */
.fa-github {
    font-size: 20px;
}

/* BOOTSTRAP OVERRIDE */
.navbar-custom {
    background-color: transparent !important;
    font-family: var(--fontFamily);
    color: var(--textColour1) !important;
    align-content: center !important;
    text-align: center !important;
    margin-left: 1.5em !important;
    
}

.navbar-brand {
    color: var(--textColour1) !important;
    font-size: xx-large !important;
    transition: color 500ms !important;
    margin-right: 1em !important;
    padding-left: 0.25vw;
}

.navbar-brand:hover {
    color: var(--darkColour) !important;
    transition: color 500ms !important;
}

.navbar-brand:active {
    color:#1c181b !important;
}

.nav-link {
    color: var(--textColour1) !important;
    transition: color 500ms !important;
    position: relative;
    top: 0.5vh !important;
}

.nav-link:hover {
    color: var(--darkColour) !important;
    transition: color 500ms !important;
}

.dropdown-menu {
    background-color: var(--textColour1) !important;
}

.dropdown-item {
    color: var(--darkColour) !important;
    background-color: var(--textColour1) !important;
    transition: color 500ms, background-color 500ms;
}

.dropdown-item:hover {
    background-color: var(--darkColour) !important;
    color: var(--textColour1) !important;
    transition: color 500ms, background-color 500ms;
}

.navbar-toggler-icon {
    filter: invert(1) hue-rotate(180deg);
}
  
