/*-------------GLOBAL---------------*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
:root {
    --fontFamily: 'Quicksand', sans-serif;
    --primary: #1d201d;
    --accent: #e7e8e3;
    --hover: #aeb1a0;
    --color-trans: color 0.4s ease-in;
}



* {
    box-sizing: border-box;
}

html, body {
    background-color: var(--primary);
    margin: 0;
    overflow: hidden;
    padding: 0 1vw;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*-------------END-GLOBAL---------------*/

/*-------------NAV---------------*/
.nav-container {
    
    margin-bottom: 2vh;
    
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.nav-link {
    margin: 0 2vw;
    font-family: var(--fontFamily);
    color: var(--accent);
    font-weight: 300;
    transition: var(--color-trans);
    cursor: pointer;
}

.on-hover-nav {
    color: var(--hover);
}

.panel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    padding-top: 2vh;
    padding-right: 2vw;
}

.icon {
    color: var(--accent);
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.icon2 {
    display: none;
    color: var(--accent);
    
}

.icon:hover {
    color: var(--hover)
}

/*-------------END-NAV---------------*/



/*-------------CONTAINER---------------*/
.container {
    position: relative;
    border: 2px solid var(--accent);
    height: 85vh;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 1vh 1.5vw 1vh 1.5vw;
    z-index: 1;
    overflow: hidden;
    transition-property: width, border-radius, margin-left;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

.container.container-active {
    margin-left: 24%;
    width: 50vw;
    border-radius: 25px;
   
}

.bg-image {
    background-image: url('../images/grain.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;
    overflow: hidden;
}

.home-body {
    position:inherit;
    top: 20vh;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: var(--primary);
    overflow: hidden;
}

.project {
    padding: 0 3vw;
    font-family: var(--fontFamily);
    color: var(--accent);
    display: flex;
    flex-direction: column;
    
}

.project-container div {
    margin-top: -2vh;
}

.project-image {
    width: 70%;
    height: 100%;
}
.container-hover {
    border-color: var(--primary);
    flex-direction: column;
}


.connect-container {
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    color: var(--accent);
    font-family: var(--fontFamily);
    font-weight: 300;
    letter-spacing: 1px;
}

.connect-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
    align-items: center;
    cursor: pointer;
}

.connect-icon {
    margin-right: 1vw;
}
.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
}
.credentials-container {
    color: var(--accent);
}


.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--accent);
    text-shadow: 4px 4px 8px var(--primary);
}

.resume-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resume-left {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

.resume-top .name {
    margin-bottom: -3vh;
}

.skills-sub {
    display: flex;
    flex-direction: row;
}

.skills-sub div {
    margin-right: 0.75vw;
    
}

.skills-sub div ul {
    padding-left: 1vw;
}

.location {
    margin-bottom: -2vh;
    border-bottom: 2px solid var(--accent);
    margin-right: 75%;
}
.experience ul {
    list-style-type: none;
    padding-left: 0;
}

.experience ul li ul {
    list-style-type: circle;
    padding-left: 2vw;
    margin-top: -1vh;
}


.resume-right {
    display: flex;
    flex-direction: column;
    padding-right: 0;
}

.blurb-container {
    color: var(--accent);
    text-align: left;
    padding-right: 65vw;
    
}

.education ul {
    list-style-type: none;
    padding-left: 0;
    
}
.panel-container {
    display: flex;
    flex-wrap: nowrap;
    
}

.panel {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: var(--accent);
    cursor: pointer;
    flex: 1;
    margin: 10px;
    transition-property: flex, border-radius;
    transition-duration: .7s;
    transition-timing-function: ease-in;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    font-family: var(--fontFamily);
    
}

.panel.active {
    flex: 5;
    border-radius: 25px;
    
}
/*-------------END-CONTAINER---------------*/

/*-------------TEXT---------------*/

.cancel {
    font-family: var(--fontFamily);
    color: var(--accent);
    transition: color 0.5s ease-in;
    font-size: 32px;
    cursor: pointer;
    margin-bottom: 2vh;
    width: 1vw;
}

.cancel:hover {
    color: var(--hover);
}

.project-date {
    font-size: 14px;
    margin-bottom: -2vh;
}

.project-version {
    font-weight: 300;
}

.project-description {
    padding-right: 6vw;
    word-wrap: break-word;
    font-size: 18px;
}

.project a {
    color: var(--accent);
    transition: color 0.5s ease-in;

}

.project a:hover {
    color: var(--primary);
}

.project a:visited {
    color: var(--accent);
}


.panel.active h3 {
    opacity: 1;
    transition: opacity 0.4s ease-in 0.3s;
}

.panel h3 {
    position: absolute;
    font-size: 24px;
    bottom: 30px;
    left: 30px;
    margin: 0;
    opacity: 0;
    text-shadow: 4px 4px 8px var(--primary);
    transition: opacity 0.4s ease-in 0.3s;
}


.title {
   position: relative;
   top: -2vh; 
}

.socials a {
    color: var(--accent);
    text-decoration: none;
    transition: color 0.5s ease-in;
    margin-right: 2vw;
}

.socials a:visited {
    color: var(--accent);
    text-decoration: none;
}
.socials a:hover {
    color: var(--hover)
}
.connect-item a {
    text-decoration: none;
    color: var(--accent);
    font-size: 24px;
    transition: color 0.5s ease-in;
}

.connect-item a:visited {
    color: var(--accent);
    text-decoration: none;
    
}

.connect-item a:hover {
    color: var(--hover);
}

.education h2 {
    font-family: var(--fontFamily);
    font-weight: 400;
    margin-bottom: -2vh;
}

.education ul li h3 {
    font-family: var(--fontFamily);
    font-weight: 300;
    font-size: 16px;
    margin-bottom: -2vh;
}

.education ul li h4 {
    font-family: var(--fontFamily);
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    margin-bottom: -1.5vh;
}
.skills h2 {
    font-family: var(--fontFamily);
    font-weight: 400;
    margin-bottom: -1vh;
}

.skills-sub div h3 {
    font-family: var(--fontFamily);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: -1vh;
}

.skills-sub div ul li span {
    font-weight: 400;
    font-style: italic;
}
.skills-sub div ul {
    font-family: var(--fontFamily);
    list-style-type: circle;
    font-size: 12px;
}
.experience ul li ul li {
    font-family: var(--fontFamily);
    font-weight: 300;
    font-size: 12px;
}
.experience h2 {
    font-family: var(--fontFamily);
    font-weight: 400;
    margin-bottom: -1vh;
    
}

.experience ul li h3 {
    font-family: var(--fontFamily);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: -2vh;
}


.experience ul li h4 {
    font-family: var(--fontFamily);
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
}

.name h1 {
    font-family: var(--fontFamily);
    font-weight: 400; 
}

.location h3 {
    font-family: var(--fontFamily);
    font-weight: 300;
}

.title h3 {
    font-family: var(--fontFamily);
    font-weight: 300;
}

.blurb-text {
    font-family: var(--fontFamily);
    font-weight: 300;
}

.dark-text {
    background-color: var(--primary);
    padding: 1vh 2vw;
}

/*-------------END-TEXT---------------*/
/*-------------MEDIA---------------*/
@media only screen and (max-width: 600px) {

    .container {
        padding: 2vh 2vw;
        height: 70vh;
        overflow-y: scroll;
    }
    
    .container.container-active {
        width: 90%;
        margin-left: 5vw;
    }

    .project-container {
        background-color: rgba(29, 32, 29, 0.75);
        padding: 1vh 2vw;
        margin-top: 0;
    }

    .project-image {
        width: 100%;
        height: 100%;
    }

    .project-version {
        margin-bottom: 0;
    }

    .project-description {
        font-size: 14px;
    }

    .cancel {
        font-size: 14px;
    }
    .project-link {
        margin-bottom: 3vh;
    }
    .nav-container {
        padding-right: 2vw;; 
    }
    .icon {
        display: none;
    }

    .icon2 {
        display: block;
    }
    .home-body {
        position:inherit;
        top: 25vh;
        align-items: start;
        flex-direction: column;
        justify-content: center; 
    }

    .credentials-container {
        margin-bottom: -1vh;
    }
    .blurb-container {
        padding-right: 0;
        font-size: 12px;
    }

    .panel-container {
        padding-top: 1vh;
        flex-wrap: wrap;
        height: 80vh; /* Adjust the height as per your requirement */
        align-content: center; /* Align panels to the top */
        flex-direction: column;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }

    .panel {
        width: 90vw;
        height: 60px;
        flex: 1;
        transition: none;
        border-radius: 5px;
    }

    .panel.active {
        flex: 1;
    }

    .panel h3 {
        font-size: 18px;
        opacity: 1;
        transition: none;
        bottom: 1vh;
        left: 2vw;
        background-color: var(--primary);
        padding: 1vh 2vw;
        text-shadow: 1px 1px 4px var(--primary);
    }

    .connect-icon {
        margin-right: 4vw;
    }
    .connect-item a {
        font-size: 18px;
    }

    .connect-container {
        background-color: rgba(29, 32, 29, 0.75);
        padding: 2vh 2vw;
    }

    .socials a {
        margin-right: 24vw;
    }
    .socials {
        font-size: 18px;
    }
    .panel.active h3 {
        opacity: 1;
        
    }

    .resume-top .name {
        font-size: 10px;
        margin-bottom: -1vh;
    }

    .resume-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--accent);
        text-shadow: 4px 4px 8px var(--primary);
        background-color: rgba(29, 32, 29, 0.75);
        padding: 1vh 1vw;
    }

    .resume-bottom {
        flex-direction: column;
        overflow-y: auto;
    }
    .resume-top .location {
        font-size: 10px;
        margin-bottom: 1vh;
        
    }

    .education h2 {
        font-size: 16px;
        margin-bottom: 1vh;
    }

    .education ul li h3 {
        font-size: 12px;
        margin-bottom: -12px;
    }

    .education ul li h4 {
        font-size: 10px;
    }

    .education ul li {
        margin-bottom: 3vh;
    }
    .experience h2 {
        font-size: 16px;
    }

    .experience ul li h3 {
        font-size: 14px;
        
    }

    .experience ul li h4 {
        font-size: 12px;
        
    }

    .experience ul li ul  {
        padding-left: 5vw;
        padding-bottom: 1vh;
        border-bottom: 2px solid var(--accent);
    }
    .experience ul li ul li {
        margin-bottom: 1vh;
    }

    .skills h2 { 
        font-size: 16px;
    }

    .skills-sub {
        flex-direction: column;
        border-bottom: 2px solid var(--accent);
    }
    .skills-sub div h3 {
        font-size: 14px;
    }

    .skills-sub div ul {
        padding-left: 5vw;;
    }

    .skills-sub div ul li {
        padding-bottom: 1vh;
    }
    
  }

  /*-------------END-MEDIA---------------*/
