/*GLOBAL*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#canvases {
    z-index: -1;
    position: absolute;
}

:root {
    --header-footer: #1e1f26;
}

.clean {
    margin: 0;
    padding: 0;
}

/* NAVIGATION */
.main-nav {
    background-color: var(--header-footer);
    width: 100%;
    padding: 1.5em 1em;
    text-align: left;
    box-shadow: 0.05em 0.25em rgba(0, 0, 0, 0.418);
}